@import "components/service-hero";
@import "components/service-intro";
@import "components/cases-cta";
@import "components/team";
@import "components/faq";

.page-abonent-ur-obs,
.page-gosp-pravo-gosp-spory {
  .team {
    padding-top: 40px;

    @include respond-up($breakpoint-md) {
      padding-top: 100px;
    }
  }

  .faq {
    padding-top: 40px;
    padding-bottom: 40px;

    @include respond-up($breakpoint-lg) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.page-gosp-pravo-gosp-spory {
  .service-intro__media-row {
    @include respond-up($breakpoint-lg) {
      padding-top: 0;
    }
  }
}
